<%- include("partials/header.ejs") %>
<body>
  <div class="profile-container container mt-5 mb-5">
    <div class="row  outer-body">
      <div class="col-sm-8">
        <div>
          <div class="card-body">

            <h2 class="profile-title">Your Profile</h2>
            <div class="confirm-details">
              <div class="profile">
              <div class="profile-field">Name</div>
              <div><%= user.name %></div>
              <div><button class="name-button" id="name-edit">Edit</button></div>
              </div>
              
              <div class="profile">
                <div><span class="profile-field">Contact Info</span></div>
                <div></div>
            </div>


            <div class="profile">
              <div>Email</div>
              <div><%= user.email %></div><br>
              <div>Phone</div>
              <div><%= user.phone %></div>
              <div><button class="address-button" id="phone-edit">Edit</button></div>
            </div>
              
          </div>

          <div class="profile">
          <div class="profile-field">Addresses</div>
          <div></div>
          <div><button class="address-button" id="address-add">Add</button></div>
          </div>
            
              <% if(locals.user.address){ %>
                
                
                <% locals.user.address.forEach((address,index)=>{%>
                  <div class="profile">
                    <div>Address <%= index+1 %></div>
                    <div>
                  
              <%= address.unit %> <%= address.addressLine1%> <%= address.addressLine2 %><br>
              <%= address.city %> <%= address.province %><br> <%= address.postalcode %>
              
            </div>
              <div><button class="address-button" id="address-edit" value="<%= address._id %>">Edit</button></div>
              
              
              </div>
                
                
              </div>
              <% })  %>
              <% }%>

              <div class="profile">
                <div class="profile-field">Update Password</div>
                <div></div>
                <div><button class="password-button" id="update-password">Update</button></div>
              </div>


              
              
              
              <% if(locals.message) {%>
                <div style="color:green"><%= message %></div>
                <% } %>
              <% if(locals.orders){%>
                <div class="profile-field">Order History</div>
                <% orders.forEach(order=>{%>
                  <% if(order.status !== 'cancelled'){ %>
                    <div><%= order.phone %></div>
                  <div class="profile">
                  <div class="profile">Order <button class="order-number-button" id="order-number-btn" value="<%= order.orderNumber %>"> #<%= order.orderNumber %></button><div id="order-num" hidden></div></div>
                  <div class="order-div"><%= order.dateOrdered.toDateString() %><input type="hidden" class="itemId" value="<%= order._id %>"></div>
                  
                  <div><button  class="cancel-button" data-itemid="<%= order._id %>">Cancel</button></div>
                </div>
                
                <% order.products.forEach(productArr=>{ %>
                  
                  <% productArr.forEach(product=>{ %>
                    
                <div class="profile">
                  <% if (product && product.image) { %>
                  <div ><img class="item-image" src="<%= product.image %>"></div>
                  <div>
                    <p class="item-name"><%= product.name %></p>
                    <% } %>
                    <% order.cartItems.forEach(cartItem=>{ %>
                    <p class="qty">Qty: <%= cartItem.quantity %></p>
                    <% }) %>
                    <p class="qty"><%= order.status %></p>
                    
                  </div>
                  <div></div>
                </div>
                <% }) %>
                <% }) %>
                <% }%>
                  
                
                <% }) %>
                <% } %>
              
          
          </div>
        </div>
      </div>
    </div>
  </div>

 <script>

  const nameEditButton = document.getElementById("name-edit");
  nameEditButton.addEventListener("click",async function(event){
    event.preventDefault();
    const sessionManager = await checkSession('/users/edit-name');
    if(sessionManager){
      window.location.href = "/users/edit-name";
    }
  })

  const phoneEditButton = document.getElementById("phone-edit");
  phoneEditButton.addEventListener("click",async function(event){
    event.preventDefault();
    const sessionManager = await checkSession('/users/edit-user');
    if(sessionManager){
      window.location.href = "/users/edit-user";
    }
  })

  
  const addressEditButton = document.querySelectorAll("#address-edit");
  
  if(addressEditButton){
  
  addressEditButton.forEach(editButton=>{
    const addressId = editButton.value;
    editButton.addEventListener("click",async function(event){
    event.preventDefault();
    const sessionManager = await checkSession(`/users/address-edit`);
    if(sessionManager){
      window.location.href = `/users/address-edit?id=${addressId}`;
    }
  })
  })
}


  


  const addressAddButton = document.getElementById("address-add");
  addressAddButton.addEventListener("click",async function(event){
    event.preventDefault();
    const sessionManager = await checkSession('/users/address-add');
    if(sessionManager){
      window.location.href = "/users/address-add";
    }
  })


  const updatePasswordButton = document.getElementById("update-password");
  updatePasswordButton.addEventListener("click",async function(event){
    event.preventDefault();
    const sessionManager = await checkSession('/users/get-password-form');
    if(sessionManager){
      window.location.href = '/users/get-password-form';
    }
  })

 




  const cancelButtons = document.querySelectorAll(".cancel-button");

  cancelButtons.forEach(cancelButton=>{
    
    cancelButton.addEventListener("click",function(event){
      event.preventDefault();
      const itemId = cancelButton.getAttribute("data-itemid");
        cancelOrder(itemId);
  })
  
  })
  async function cancelOrder(orderId) {
    
    
        Swal.fire({
          title : 'Cancel',
          text: 'Are you sure want to cancel this order?',
          icon:'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes',
          cancelButtonText : 'No'
        }).then((result)=>{
          if(result.isConfirmed){
            cancelMyOrder(orderId);
          }
        })
    async function cancelMyOrder(orderId){
      try{
        const response = await fetch('/cart/cancel-order',{
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          orderId,
         
        })
      })

      if(response.ok){
        
        window.location.href = '/users/profile';
        console.log(response);
      }
      }
      catch(error){
        console.log(error);
      }
    }
  }

  const orderNumberBtn = document.querySelectorAll("#order-number-btn");
  
  orderNumberBtn.forEach(btn=>{
  btn.addEventListener("click",async(event)=>{
    event.preventDefault();
    const orderNumber = btn.value;
    
    
    try{
      const response = await fetch(`/users/order-details?orderNumber=${orderNumber}`,{
        method:'GET',
        headers:{
          'Content-Type': 'application/json',
          
        },
        credentials : 'include',
        
        
      })
      
      if(response.ok){
        window.location.href = `/users/order-details?orderNumber=${orderNumber}`;
        
      }
      

      else if(response.status === 401){
            Swal.fire({
              title: 'Session Expired',
              text: 'Your session has expired. Please log in again.',
              icon: 'warning',
              confirmButtonText: 'Ok'
            }).then((result)=>{
                if(result.value){
                window.location.href = "/users/login";
                }
              }
            );
            
          }
          else{
            console.log("Error");
          }

    }
    catch(error){
      console.log(error);
    }
  
  })
})

 </script>

</body>
</html>